.materials {
  position: relative;
}

.main-file {
  width: 39%;
  margin-right: 63%;
  margin-left: 7%;
  text-align: right;
}

@media screen and (max-width: 640px) {
  .main-file {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

.main-file h4 {
  padding-top: 60px;
}

@media screen and (max-width: 640px) {
  .main-file h4 {
    padding-top: 6px;
  }
}

.main-file p {
  color: #686868;
  padding-bottom: 69px;
  background: url("../assets/szczalka.png") no-repeat bottom right;
  margin-top: 6px;
}

@media screen and (max-width: 768px) {
  .main-file p {
    padding-bottom: 12px;
    background: none;
  }
}

@media screen and (max-width: 640px) {
  .main-file p {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .main-file p {
    margin-bottom: 18px;
  }
}

.laptop {
  background: url("../assets/laptop-shadow-no-download.png") no-repeat top right;
  background-size: contain;
  width: 50%;
  height: 364px;
  float: right;
  position: relative;
  top: 36px;
}


.laptop::before {
  content: "";
  width: 20%;
  height: 135px;
  background: url("../assets/download.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: -10px;
  left: 3%;
}

@media screen and (max-width: 1000px) {
  .laptop {
    top: 60px;
  }
}


@media screen and (max-width: 768px) {
  .laptop {
    height: 280px;
  }
}

@media screen and (max-width: 640px) {
  .laptop {
    float: none;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    height: 210px;
    background-position: center center;
    top: 0px;
  }

  .laptop::before {
    top: 8px;
  }
}

.more-files {
  padding-top: 60px;
  padding-bottom: 84px;
}

@media screen and (max-width: 640px) {
  .more-files {
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 600px) {
  .more-files {
    padding-top: 12px;
  }
}

.file {
  background: #f2f2f2;
  border: solid 1px #d8d8d8;
  position: relative;
  padding-left: 20%
}

@media screen and (max-width: 600px) {
  .file {
    margin: 20px 0;
    padding-left: 14%
  }
}

.file::before {
  content: "";
  width: 22%;
  height: 135px;
  background: url("../assets/download.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: -20px;
  left: -5%;
}

@media screen and (max-width: 600px) {
  .file::before {
    width: 18%;
    height: 100px;
  }
}

.file h5 {
  font-size: 20px;
  font-weight: normal;
  margin: 6px;
  color: #686868;
}

.file p {
  margin: 6px;
  color: #8c8c8c;
}
