.materials {
  position: relative;
}

.main-file {
  width: 39%;
  margin-right: 63%;
  margin-left: 7%;
  text-align: right;
}

.main-file h4 {
  padding-top: 60px;
}

.main-file p {
  color: #686868;
  padding-bottom: 69px;
  background: url("../assets/szczalka.png") no-repeat bottom right;
  margin-top: 6px;
}

.laptop {
  background: url("../assets/laptop-shadow.png") no-repeat center right;
  background-size: contain;
  width: 50%;
  height: 364px;
  float: right;
  right: 0;
  top: 90px;
}

.more-files {
  padding-top: 60px;
  padding-bottom: 84px;
}

.file {
  background: #f2f2f2;
  border: solid 1px #d8d8d8;
  position: relative;
  padding-left: 20%
}

.file::before {
  content: "";
  width: 22%;
  height: 135px;
  background: url("../assets/download.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: -20px;
  left: -5%;
}

.file h5 {
  font-size: 20px;
  font-weight: normal;
  margin: 6px;
  color: #686868;
}

.file p {
  margin: 6px;
  color: #8c8c8c;
}
