.news-container {
  margin: 36px 0 0;
  text-align: center;
}

.news {
  display: inline-block;
  vertical-align: top;
  width: 305px;
  text-decoration: none;
  background: #ffffff;
  margin: 18px 8px 24px;
  text-align: center;
  border: solid 1px #eee;

  transition: transform 0.6s;
}

.news:hover {
  transform: scale(1.07);
}

@media screen and (min-width: 999px) {
  .news:first-child {
    margin-left: 0;
  }

  .news:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 826px) {
  .news {
    margin: 12px 12px;
  }
}

@media screen and (max-width: 425px) {
  .news {
    width: 260px;
    margin: 12px 0;
  }
}

.news img {
  width: 305px;
  height: 265px;
  display: block;
  margin-bottom: 24px;
}

@media screen and (max-width: 425px) {
  .news img {
    width: 260px;
    height: 225px;
  }
}

.news .title {
  text-transform: uppercase;
  color: #3b3b3b;
  line-height: 24px;
  font-size: 18px;
  margin: 24px 0 6px;
}

.news .date {
  color: #4c4c4c;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 36px;
}

@media screen and (max-width: 826px) {
  .news .date {
    margin-bottom: 18px;
  }
}

.news .date:after {
  content: "";
  display: block;
  position: relative;
  width: 20%;
  height: 1px;
  background: #bfbfbf;
  top: 18px;
  margin: 0 auto;
}

@media screen and (max-width: 826px) {
  .news .date:after {
    content: none;
  }
}

.news p {
  color: #8e8e8e;
  font-style: italic;
  margin-left: 18px;
  margin-right: 18px;
}

@media screen and (max-width: 826px) {
  .news p {
    display: none;
  }
}

.read-more {
  text-align: right;
  margin-bottom: 24px;
}

.news-more {
  display: none;
}

.news-arrow-more {
  color: #fd991d;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0;
  transition: letter-spacing 0.6s;
}

#lighttextbox {
  display: none;
  position: fixed;
  top: 10%; left: 20%;
  width: 60%;
  height: 60%;
  background-color: white;
  padding: 25px;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.4);
}

@media screen and (max-width: 999px) {
  #lighttextbox {
    width: 70%;
    height: 80%;
    left: 15%;
  }
}

#lighttextbox::after {
  content: "❌";
  position: absolute;
  top: 0; right: 5px;
  cursor: pointer;
}

#lighttextbox img { float: right; margin-left: 10px; }
#lighttextbox .title { font-size: 1.2em; }
