.partner-logos {
  text-align: center;
  margin-bottom: 30px;
}

.partner-logos a {
  display: inline-block;
  vertical-align: middle;;
  margin: 24px 18px;
}

.copyrights {
  text-align: center;
  margin: 42px 0 30px;
  color: #3b3b3b;
}
