@import "./top-bar.css";
@import "./header.css";
@import "./section.css";
@import "./gallery.css";
@import "./faq.css";
@import "./materials.css";
@import "./partners.css";
@import "./media.css";
@import "./news.css";
@import "./team.css";
@import "./summary.css";

html,
body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.clearfix {
  clear: both;
}

.content {
  width: 968px;
  margin: 0 auto;
  clear: both;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 80%
  }
}

.button,
.button:visited {
  border-radius: 8px;
  padding: 9px 36px;
  color: #1b5f9e;
  border: solid 2px #1b5f9e;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  transition: background 0.4s, color 0.4s;
}

.button:hover {
  background: #1b5f9e;
  color: white;
}

@media screen and (max-width: 360px) {
  .button {
    padding: 6px;
    font-size: 16px;
  }
}

.button.primary {
  background: #ffc303;
  color: white;
  border: none 0px;
  /*text-shadow: 0 0 10px #9a9a9a;*/
}

.button.primary:hover {
  color: #ffc303;
  background: white;
}
