.content {
  margin: 36px auto;
}

p a,
.link,
p a:visited,
.link:visited {
  color: #fd991d;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0;

  transition: letter-spacing 0.6s;
}

p a:hover,
.link:hover {
  letter-spacing: 1px;
}

.content > h2 {
  color: #275e96; /*#31536f;*/
  font-size: 42px;
  text-align: center;
  font-weight: 400;
  margin: 30px 0 6px;
  text-transform: uppercase;
}

.content .heading-explanation,
p.explanation {
  color: #8d8d8d;
  text-align: center;
  font-style: italic;
  line-height: 24px;
}

.content .heading-explanation {
  margin: 6px 0 6px;
}

article.col2 {
  width: 45%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

article.col2.left {
  margin-right: 4%;
}

article.col2.right {
  margin-left: 4%;
}

article.col2.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 786px) {
  article.col2 {
    width: 47%;
  }

  article.col2.left {
    margin-right: 2%;
  }

  article.col2.right {
    margin-left: 2%;
  }

}

@media screen and (max-width: 600px) {
  article.col2 {
    width: 100%;
  }

  article.col2.left {
    margin-right: 0;
  }

  article.col2.right {
    margin-left: 0;
  }

  article.col2.center {
    margin-left: 0;
    margin-right: 0;
  }

}

article.col3 {
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

article.col3.left {
  margin-right: 4%;
}

article.col3.right {
  margin-left: 4%;
}


@media screen and (max-width: 786px) {
  article.col3 {
    width: 100%;
  }

  article.col3.left {
    margin-right: 0;
  }

  article.col3.right {
    margin-left: 0;
  }
}

article h3 {
  font-size: 32px;
  font-weight: 400;
  color: #3b3b3b;
  margin: 24px 0 36px;
  line-height: 42px;
}

article h3:after {
  content: "";
  display: block;
  position: relative;
  width: 240px;
  height: 1px;
  background: #8e8e8e;
  top: 18px;
}

@media screen and (max-width: 600px) {
  article h3:after {
    width: 60%;
  }
}


article.col2 h3 {
  text-align: left;
}

article.col2 h3:after {
  content: "";
  display: block;
  position: relative;
  width: 60%;
  height: 1px;
  background: #8e8e8e;
  top: 18px;
  margin: 0 0;
}

article h4 {
  margin: 6px 0 6px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

article p {
  font-size: 16px;
  line-height: 24px;
  color: #3b3b3b;
  margin: 24px 0;
}

article p.intro {
  font-size: 22px;
  color: #8f8f8f;
  font-style: italic;
}

@media screen and (max-width: 425px) {
  article p,
  article p.intro,
  article p.explanation {
    text-align: justify;
  }
}


.editions,
.media {
  text-align: center;
  margin-bottom: 78px;
}

.editions h3:after,
.media h3:after {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .editions,
  .media {
    text-align: left;
  }

  .editions h3:after,
  .media h3:after {
    margin: 0;
  }
}
