section.content {
  margin: 36px auto;
}

section.content > h2 {
  color: #31536f;
  font-size: 42px;
  text-align: center;
  font-weight: 400;
  margin: 30px 0 6px;
}

section.content .heading-explanation {
  color: #8d8d8d;
  text-align: center;
  margin: 6px 0 6px;
  font-style: italic;
}

article.col2 {
  width: 45%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

article.col2.left {
  margin-right: 4%;
}

article.col2.right {
  margin-left: 4%;
}

article h3 {
  font-size: 32px;
  font-weight: 400;
  color: #3b3b3b;
  margin: 24px 0 36px;
  line-height: 42px;
}

article h3:after {
  content: "";
  display: block;
  position: relative;
  width: 240px;
  height: 1px;
  background: #8e8e8e;
  top: 18px;
  margin: 0 auto;
}

article.col2 h3 {
  text-align: left;
}

article.col2 h3:after {
  content: "";
  display: block;
  position: relative;
  width: 240px;
  height: 1px;
  background: #8e8e8e;
  top: 18px;
  margin: 0 0;
}

article p {
  font-size: 16px;
  line-height: 24px;
  color: #3b3b3b;
  margin: 24px 0;
}

article p.intro {
  font-size: 22px;
  color: #8f8f8f;
  font-style: italic;
}


section.editions {
  text-align: center;
}
