html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
  background-color: #f2d989;
}

#page-wrapper {
  background-color: #eaeaea;
}

#page {
  position: relative;
  z-index: 2;
  padding-bottom: 30px;
  background: white;
}

@media screen and (min-width: 962px) {
  #page {
    width: 960px;
    margin: 0 auto;
    border-left: solid 1px #dfded7;
    border-right: solid 1px #dfded7;
  }
}

@media screen and (min-width: 1202px) {
  #page {
    width: 1200px;
    margin: 0 auto;
  }
}

#content {
  background: white;
  overflow: auto;
}

.header-back {
  height: 50px;
  background-color: #f2d163;
  width: 100%;
  position: fixed;
  z-index: 1;
}

header {
  background: white;
  overflow: auto;
  height: 110px;
}

.logo {
  height: 70px;
  width: 70px;
  background: url('../assets/kaczucha.png') center no-repeat;
  background-size: contain;
  margin: 20px;
  margin-left: 30px;
  float: left;
}

.title {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 70px;
  font-family: 'Poiret One', sans-serif;
  font-weight: normal;
}

@media screen and (min-width: 472px) {
  header {
    height: 160px;
  }

  .logo {
    height: 100px;
    width: 100px;
    margin: 30px;
    margin-left: 50px;
  }

  .title {
    margin-left: 180px;
    margin-top: 10px;
    font-size: 100px;
  }
}

footer {
  height: 300px;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 962px) {
  footer .container {
    width: 960px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1202px) {
  footer .container {
    width: 1200px;
    margin: 0 auto
  }
}

footer h2 {
  font-family: 'Poiret One', sans-serif;
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 10px;
  padding: 20px;
  margin-top: 0px;
}

article {
  margin: 0px 20px;
}

article .header-container {
  border-bottom: 1px #dddcd7 solid;
  cursor: pointer;
}

article .header {
  font-size: 50px;
  font-family: 'Poiret One', sans-serif;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #5f2b9b;
  width: 100%;
  background: white;
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  transition: width 0.5s, padding-left 0.5s, color 0.5s, padding-top 0.5s, padding-bottom 0.5s;
}

article.open .header,
article .header-container:hover .header{
  /*color: #E5BB31;*/
  padding-top: 40px;
  padding-bottom: 40px;
  /*width: 70%;*/
}

article .header-container:hover .header{
  padding-left: 20px;
}

article:last-child .header-container {
  border-bottom: none 0px;
}

article.open:last-child .header-container {
  border-bottom: 1px #dddcd7 solid;
}

article .content h2 {
  font-family: 'Poiret One', sans-serif;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 10px;
}

article .content {
  font-size: 20px;
  height: 0;
  overflow: hidden;

  transition: height 0.5s, margin 0.5s;
}

article.open .content {
  display: block;
  margin: 10px 0px 30px;
}

article section {
  overflow: auto;
}

article a {
  text-decoration: none;
  color: #5C94CA;

  transition: color 0.5s;
}

article a:hover {
  text-decoration: none;
  color: #925ECD;
}

article .header {
}

.header-container.about {
  background: url('../assets/duck.jpg');
  background-size: 885px;
  background-position: -390px -510px;
}

.header-container.workshop {
  background: url('../assets/workshop2.jpg');
  background-size: 700px;
  background-position: right -280px;
}

.header-container.materials {
  background: url('../assets/materials.jpg');
  background-size: 700px;
  background-position: right -20px;
}

.header-container.join{
  background: url('../assets/more-ducks.jpg');
  background-size: 900px;
  background-position: -486px -523px;
}
