html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
}

#page {
}

#content {
  background: white;
}

header {
  height: 200px;
  background-color: #7995f2;
}

footer {
  height: 300px;
  background-color: #abd;
  /*background-color: #dadff2;*/
  /*background-color: #239;*/
}

article {
  margin: 10px 20px;
}

article .header {
  font-size: 50px;
  font-family: 'Poiret One', sans-serif;
  padding-bottom: 5px;
  border-bottom: 1px #dddcd7 solid;
  cursor: pointer;
  color: black;

  transition: padding-left 0.5s, color 0.5s;
}

article .header:hover {
  padding-left: 20px;
  color: #223399;
}

article:last-child .header {
  border-bottom: none 0px;
}

article section {
  display: none;
  margin: 10px 0px 30px;
  font-size: 20px;
}

article.open .header {
  padding-left: 20px;
}

article.open section {
  display: block;
}
