
.front-header,
.front-header .header-photo,
.front-header .header-photo:before {
   height: 450px;
}

.page-header,
.page-header .header-photo,
.page-header .header-photo:before {
  height: 240px;
}

.hero {
  background: #0055a9; /* #285f95;*/
  color: white;
  overflow: auto;
}

.hero .header-photo {
  position: absolute;
  background: url("../img/header-photo.png");
  background-attachment: fixed;
  background-position: top center;
  width: 100%;
  z-index: 1;
  filter: grayscale(100%);
  opacity: 0.48;
}

.hero .header-photo::before {
  display: block;
  content: "";
  z-index: 2;
  width: 100%;
  position: absolute;
  background: url("../img/header-mosaic.png");
  background-attachment: fixed;
}

.hero .content {
  z-index: 10;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 40px;
}


@media screen and (max-width: 570px) {
  .hero .content {
    padding-top: 48px;
  }
}

@media screen and (max-width: 460px) {
  .hero .content {
    padding-top: 36px;
  }
}


.hero .sub-heading,
.hero .sup-heading {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 0 10px #4c4c4c;
}

.hero .sub-heading {
  margin: 18px 0 20px;
}

.hero .heading {
  margin: 0;
  padding: 0;
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2px;
	margin-bottom: 24px;
}

@media screen and (max-width: 460px) {
  .hero .heading {
    font-size: 30px;
  }
}

.hero .heading > span {
  /* background: #ffc303; */
  padding: 2px 10px;
}

.hero .button.primary, .button.disabled {
  color: white;
  padding: 18px;
  line-height: 24px;
  font-size: 24px;
  display: block;
	width: 100%;
  margin: 12px 0 0;
  border: 0;
}

@media screen and (max-width: 570px) {
  .front-header .button.primary, .button.disabled {
    width: auto;
    display: block;
    box-sizing: border-box;
    margin: 18px 10% 0;
    padding: 9px 36px;
    font-size: 18px;
  }
}
@media screen and (max-width: 360px) {
  .hero .button.primary, .button.disabled {
    padding: 6px;
    font-size: 16px;
  }
}

.hero .button.secondary {
  display: inline-block;
  margin: 6px 6px 0;
  color: white;
  border: solid 2px white;
}

.hero h1 {
  color: #fff;
  font-weight: 700;
}
@media screen and (max-width: 570px) {
  .hero .button.secondary {
    display: block;
    margin: 18px 10% 0;
  }
}

.hero .button.primary:hover {
  background: white;
  color: #ffc303;
}

.hero .button.secondary:hover {
  background: white;
  color: #1b5f9e;
}

.hero .more-buttons {
  text-align: center;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.hero .more-buttons > a {
	display: block;
	flex-basis: 1;
	width: 214px;
}

@media screen and (max-width: 570px) {
  .hero .more-buttons {
    margin: 18px 0 0;
  }
}

.hero .hero-col {
	display: flex;
}

.hero .hero-col-item {
	flex-grow: 1;
	flex-basis: 0;
	margin: 0 18px;
}

.hero .hero-what {
	text-align: center;
	font-size: 18px;
}
