<article id="post-554" class="post-554 page type-page status-publish hentry">
	<div class="content">
    <%- item.content %>

    <!-- Gallery -->
    <% if (item.photos && item.photos.length){ %>
        <%- partial('gallery') %>
    <% } %>
	</div>
</article>
