<div class="panel white" id="materials">
  <section class="content materials">
    <a name="materials"></a>
    <h2 class="h1">Materiały</h2>
    <div class="entry-meta">Licencja CC-BY-NC-SA</div>
    <article id="post-199">
      <div class="materials-thumbnail"><img width="550" height="364" src="https://dvmiptpjgc5alqjn-zippykid.netdna-ssl.com/wp-content/uploads/2017/04/laptop-shadow.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://i0.wp.com/girlsjs.pl/wp-content/uploads/2017/04/laptop-shadow.png?w=550&amp;ssl=1 550w, https://i0.wp.com/girlsjs.pl/wp-content/uploads/2017/04/laptop-shadow.png?resize=300%2C199&amp;ssl=1 300w" sizes="(max-width: 550px) 100vw, 550px" data-attachment-id="200" data-permalink="https://girlsjs.pl/?attachment_id=200" data-orig-file="https://i0.wp.com/girlsjs.pl/wp-content/uploads/2017/04/laptop-shadow.png?fit=550%2C364&amp;ssl=1" data-orig-size="550,364" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="laptop-shadow" data-image-description="" data-medium-file="https://i0.wp.com/girlsjs.pl/wp-content/uploads/2017/04/laptop-shadow.png?fit=300%2C199&amp;ssl=1" data-large-file="https://i0.wp.com/girlsjs.pl/wp-content/uploads/2017/04/laptop-shadow.png?fit=550%2C364&amp;ssl=1"></div>
      <div class="file-main">
        <h3 class="entry-title"><a href="https://girlsjs.github.io/kurs/slides/">Interaktywna galeria [190MB]</a></h3>
        <div class="entry-main-content">
          <p>Jak stworzyć galerię zdjęć na swojej stronie, poznając przy tym podstawy JavaScriptu? Uczestniczki trzech edycji girls.js Warszawa już to wiedzą. <br>(<a href="https://girlsjs.github.io/kurs/slides/index-ua.html">Wersja ukraińska.</a>)</p>
          <p><img data-attachment-id="201" data-permalink="https://girlsjs.pl/?attachment_id=201" data-orig-file="https://i2.wp.com/girlsjs.pl/wp-content/uploads/2017/04/szczalka.png?fit=181%2C51&amp;ssl=1" data-orig-size="181,51" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="szczalka" data-image-description="" data-medium-file="https://i2.wp.com/girlsjs.pl/wp-content/uploads/2017/04/szczalka.png?fit=181%2C51&amp;ssl=1" data-large-file="https://i2.wp.com/girlsjs.pl/wp-content/uploads/2017/04/szczalka.png?fit=181%2C51&amp;ssl=1" class="size-full wp-image-201 alignright" src="https://dvmiptpjgc5alqjn-zippykid.netdna-ssl.com/wp-content/uploads/2017/04/szczalka.png" alt="" width="181" height="51" scale="0"></p>
        </div>
        <!-- .entry-content -->
      </div>
    </article>
    <!-- #post-## -->
    <div class="clearfix"></div>
    <div style="margin: 25px"></div>
    <article id="post-213" style="display: inline-block;" class="col2 left">
      <div class="file">
        <h3 class="entry-title"><a href="https://girlsjs.github.io/kurs/follow-ups/cookies/slides/">Co w ciastku siedzi?</a></h3>
        <div class="entry-main-content">
          <p>…czyli jak zaimplementować na stronie informację o ciasteczkach.</p>
        </div>
        <!-- .entry-content -->
      </div>
    </article>
    <!-- #post-## -->
    <article id="post-384" style="display: inline-block;" class="col2 left">
      <div class="file">
        <h3 class="entry-title"><a href="https://girlsjs.github.io/kurs/follow-ups/functions/">Funkcje</a></h3>
        <div class="entry-main-content">
          <p>Do czego przydają się funkcje?</p>
        </div>
        <!-- .entry-content -->
      </div>
    </article>
    <!-- #post-## -->
    <article id="post-214" style="display: inline-block;" class="col2 right">
      <div class="file">
        <h3 class="entry-title"><a href="https://girlsjs.github.io/kurs/follow-ups/arrays-objects/">Tablice i obiekty</a></h3>
        <div class="entry-main-content">
          <p>Podstawowe koncepty programistyczne w wydaniu javascriptowym.</p>
        </div>
        <!-- .entry-content -->
      </div>
    </article>
    <!-- #post-## -->
    <article id="post-670" style="display: inline-block;" class="col2 right">
      <div class="file">
        <h3 class="entry-title"><a href="https://girlsjs.gitbooks.io/poznan2018/content/">Wyprawy kosmiczne</a></h3>
        <div class="entry-main-content">
          <p>Materiał dwudniowego kursu z girls.js Poznań. Lecimy!</p>
        </div>
        <!-- .entry-content -->
      </div>
    </article>
    <!-- #post-## -->
  </section>
</div>
