<div class="frontpage site-main">

  <%- partial('_partial/panel-hero') %>

  <%- partial('_partial/panel-workshop') %>

  <%- partial('_partial/panel-proud') %>

  <%- partial('_partial/panel-blog') %>

</div>
